#center
{
    margin: 0 auto;
    height: 800px;
    width:800px;
    border-style: solid;
    background-color:lightskyblue;
}
#header
{
    height: 50px;
    width:800px;
    border-bottom-style: solid;
}
#heading
{
    color: darkgreen;
    font-size:20px;
    text-align:center;
}
#head
{
    height: 200px;
    width:800px;
    border-bottom-style: solid;
    float:left;
}
#head1
{
    position:absolute;
    left: 350px;
    top: 130px;
    font-size:30px;
    color: darkgreen;
}
#menu
{
    height: 20px;
    width:800px;
    border-bottom-style: solid;
    float:left;
}
a
{
    margin-left:20px;
    margin-bottom:10px;
    margin-right:10px;

}
#middle
{
    height: 300px;
    width:800px;
    border-bottom-style: solid;
    float:left;
}
#middleleft
{
    height: 300px;
    width:250px;
    border-bottom-style: solid;
    border-right-style:solid;
    float:left;
}
#middlecenter
{
    height: 300px;
    width:300px;
    border-bottom-style: solid;
    border-right-style:solid;
    float:left;
}
#middleright
{
    height: 300px;
    width:250px;
    border-bottom-style: solid;
    float:left;
}
#footer
{
    height: 50px;
    width:800px;
    border-bottom-style: solid;
    float:left;
}
